<h3>Welcome to the</h3>
<h1>{{title}}</h1>
<p>Welcome to eShelf Manager – Your Ultimate Library Management Solution!
    eShelf Manager is a robust and user-friendly platform designed to revolutionize the way libraries operate. With its intuitive interface and powerful backend, it streamlines library operations, making it easier for librarians and users to manage and access books efficiently.
    
    Key Features:
    Book Management Made Easy: Effortlessly add, update, and delete books with essential details like ISBN, title, author, and genre.
    Search & Filter: Quickly locate books with advanced search and filtering options.
    User Access Control: Secure login system for administrators and users ensures data safety and role-based access.
    Real-Time Updates: Stay up-to-date with changes in the library collection and user activity.
    Whether you're managing a small community library or a vast institutional archive, eShelf Manager is built to adapt to your needs and ensure a seamless library experience.
    
    Start exploring the future of library management today with eShelf Manager!</p>